 body{
 	text-align: center;
background-image: linear-gradient(135deg, #89f7fe 10%, #66a6ff 100%);
}

.viz-cont{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.viz{
	display: block;
}

.horizontal_line{
	margin-top: 7%;
	margin-bottom: 7%;
}

hr{
	width:70%;
	size: 3;
	align: center;
}

h1{
	font-family: Brush Script;
	margin-top: 5%;
	margin-bottom: 3%;
}

h2{
	font-family: Times New Roman;
	margin-top: 5%;
	margin-bottom: 2%;
}