# Avoid mac OS files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Jupyter Notebook Files
**/.ipynb_checkpoints

/data/CDC.csv
/data/CDCuse.csv
/data/Census_2010-2019.csv
/data/Census_2020-2021.csv
/data/Dispensation_Data_without_Buprenorphine_Quarter_3_2016_-_Current_Quarterly_County_Health.csv
/data/Drug_and_Alcohol_Treatment_Facilities_May_2018_County_Drug_and_Alcohol_Programs.csv
/data/Emergency_Medical_Services_(EMS)_Naloxone_Dose_Administered_CY_2018_-_Current_Quarterly_County_Health.csv
/data/Emergency_Medical_Services__EMS__Naloxone_Dose_Administered_CY_2018_-_Current_Quarterly_County_Health.csv
/data/Estimated_Number_of_Individuals_with_Drug_Use_Disorder_Year_2016_-_Current_Quarterly_County_&_Statewide_Health.csv
/data/Estimated_Number_of_Individuals_with_Drug_Use_Disorder_Year_2016_-_Current_Quarterly_County___Statewide_Health.csv
/data/finaldf1op.csv
/data/finaldf1op.xlsx
/data/Local_Area_Unemployment_Statistics_(LAUS)_CY_2016_-_Current_Annual_County_Labor_and_Industry.csv
/data/Local_Area_Unemployment_Statistics__LAUS__CY_2016_-_Current_Annual_County_Labor_and_Industry.csv
/data/opioid_for_daytimeplot.xlsx
/data/Opioid_Seizures_and_Arrests_CY_2013_-_Current_Quarterly_County_State_Police(1).csv
/data/Opioid_Seizures_and_Arrests_CY_2013_-_Current_Quarterly_County_State_Police.csv
/data/Overdose_Information_Network_Data_CY_January_2018_-_Current_Monthly_County_State_Police.csv
/data/PAGOV.csv
/data/Prescription_Drug_Take-Back_Box_Locations_County_Drug_and_Alcohol_Programs.csv
/data/README.md
/data/Risky_Prescribing_Measures_Quarter_3_2016_-_Current_Quarterly_County_&_Statewide_Health.csv
/data/Risky_Prescribing_Measures_Quarter_3_2016_-_Current_Quarterly_County___Statewide_Health.csv
/data/VSRR_Provisional_County-Level_Drug_Overdose_Death_Counts.csv
/data/VSRR_Provisional_Drug_Overdose_Death_Counts.csv
